<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fastly Progressive Web Application</title>
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- TODO: Origin Trial Token, feature = Service Worker Navigation Preload -->

    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="/css/ux-platform.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class='online'>
  <div class="layout">
    <header class="header">
      <img class='header__logo' src='/images/fastly-logo.svg' alt='Fastly logo' />
      <div class="header__title">news reader</div>
      <div class="header__credit">Content from</div>
      <div class="header__creditlink"><a href='https://theguardian.com'><img src='/images/guardian-logo.svg' alt='The Guardian logo'/></a></div>
    </header>
    <div class="content">
