<h1>{{article.title}}</h1>

<div class='article-body'>
	{{{article.summary}}}
</div>

<div class='article-footer'>
	<ul class='tag-list'>
		{{#each article.categories }}<li class='tag'><a href='/topics/{{{slug}}}'>{{label}}</a></li>{{/each}}
	</ul>
</div>
