{{#if topic }}
<p class='topic'>Topic: <strong>{{topic}}</strong></p>
{{/if}}

<ul class='card-list'>
	{{#each articles}}
	<li class='card'>
		<h2><a href='/articles/{{{id}}}'>{{title}}</a></h2>
	</li>
	{{/each}}
</ul>

{{#if (not topic) }}
<p><a href='/refresh-content'>Check for new content</a></p>
{{/if}}
