.layout {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}
.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 60px;
	margin: 20px 0;
}
.header > * {
	flex: 0 1 auto;
	margin-right: 5px;
}
.header__logo {
	max-height: 100%;
}
.header__title {
	font-size: 40px;
	flex: 1 1 auto;
  display: block;
  max-height: 100%;
  background: url(/images/fastly-logo.svg) 0 0 no-repeat;
  padding-left: 120px;
  padding-bottom: 5px;
  color: black;
}
.header__creditlink img {
	height: 30px;
}
.card-list {
	margin: 20px 0;
}
.card {
    border: 1px solid #d8d8d8;
    margin: 8px 0;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
}
.tag-list {
	list-style-type: none;
}
.tag, .tag a {
	display: inline-block;
	background: #F17C09;
	color: white;
}
.tag a {
	padding: 5px 8px;
}
.tag {
	margin: 0 3px 5px 0;
}
.credit {
	text-align: right;
	font-size: 80%;
	font-style: italic;
}
.article-body {
	margin: 20px 0;
	font-size: 120%;
}
.article-body p {
	line-height: 1.4;
	margin: 1em 0;
}
.actions {
  margin: 20px 0;
}
.footer h2 {
	margin-top: 50px;
}
.netinfo {
	border: 2px solid #dbdbdb;
	border-radius: 2px;
	padding: 20px;
	margin: 10px 0 10px 0;
	flex-flow: row nowrap;
	display: flex;
  height: 190px;
  align-items: start;
}
.netinfo > * {
  display: none;
}
.netinfo__node {
	flex: 0 1 auto;
	text-align:center;
}
.netinfo__conn--client {
	flex: 1 1 20%;
}
.netinfo__conn--backend {
	flex: 1 1 80%;
}
.netinfo__node img {
    height: 50px;
    display: inline-block;
    padding: 0 20px;
}
.netinfo__node h3 {
	margin: 7px 0;
}
.netinfo__node li {
	font-size: 90%;
	white-space: nowrap;
  margin: 0 -20px;
}
.netinfo__connlabel {
	text-align:center;
	height: 1em;
}
.netinfo__connlabel--bottom {
	margin-top: 50px
}
.netinfo__connline {
    border-top:3px solid #444;
    position: relative;
    margin: 7px 0;
}
.netinfo__connline::before {
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: '';
    position:absolute;
    top: -7px;
}
.netinfo__connline--right::before {
    border-left: 10px solid #444;
    right: -6px;
}
.netinfo__connline--left::before {
    border-right: 10px solid #444;
    left: -6px;
}
.netinfo__descr {
  font-size: 120%;
}
.netinfo__offline {
  margin-left: 20px;
}
.netinfo__hit-meta {
  margin: 20px 0 0 20px;
}
.netinfo__turnarrow img {
  margin-top: 13px;
  height: 44px;
}
.netinfo__minor {
  font-size: 75%;
  margin-top: 3px;
}

.netinfo--hit .netinfo__you,
.netinfo--hit .netinfo__conn--client,
.netinfo--hit .netinfo__fastly,
.netinfo--hit .netinfo__turnarrow,
.netinfo--hit .netinfo__hit-meta,
.netinfo--miss .netinfo__you,
.netinfo--miss .netinfo__conn--client,
.netinfo--miss .netinfo__fastly,
.netinfo--miss .netinfo__conn--backend,
.netinfo--miss .netinfo__backend {
  display: block;
}
.netinfo--hit .netinfo__conn--backend .netinfo__connline {
	border-style: dashed;
	opacity: 0.4;
}
.netinfo--hit .netinfo__backend {
	opacity: 0.4;
}
.netinfo--offline {
  padding-top: 50px;
}
.netinfo--offline .netinfo__you,
.netinfo--offline .netinfo__conn--client,
.netinfo--offline .netinfo__offline {
  display: block;
}
.netinfo--offline .netinfo__offline.netinfo__descr {
  display: flex;
}
.netinfo--offline .netinfo__conn--client .netinfo__connline {
	border-style: dashed;
	opacity: 0.5;
}
.netinfo--offline .netinfo__conn--client .netinfo__connlabel {
	visibility: hidden;
}
.netinfo--offline .netinfo__conn--client .netinfo__connlabel--bottom,
.netinfo--offline ul {
	display:none;
}

.nettiming {
	border: 2px solid #dbdbdb;
	border-radius: 2px;
	padding: 5px;
	margin: 0px 0 50px 0;
	flex-flow: row nowrap;
	display: flex;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;

}
.nettiming > * {
  height: 100%;
  flex: 0 0 auto;
  box-sizing: border-box;
  color: white;
  text-align: center;
  line-height: 35px;
}
.nettiming__overhead {
  background-color: #888888;
}
.nettiming__conn {
  background-color: #61c46e;
}
.nettiming__fastly {
  background-color: #e82c2a;
}
.nettiming__beconn {
  background-color: #075580;
}
.nettiming__beexec {
  background-color: #ffa462;
}
.nettiming__resp {
  background-color: #3dbbff;
}
.tippy-tooltip {
  max-width: 140px;
  font-size: 90%;
}
